/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  font-family: "Lora&display=swap", serif;
  background: rgb(22, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebarOG {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: rgb(15, 15, 15);
  transition: all 0.5s ease;
}

.sidebarOG header {
  font-size: 22px;
  color: whitesmoke;
  text-align: center;
  line-height: 70px;
  background: black;
  user-select: none;
}

.sidebarOG ul a {
  display: block;
  width: 100%;
  line-height: 65px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
}

.sidebarOG ul li:hover a {
  padding-left: 50px;
}

.sidebarOG ul a i {
  margin-right: 16px;
}

#checkOG {
  display: none;
}

label #btnOG,
label #cancelOG {
  position: absolute;
  cursor: pointer;
  background: black;
  border-radius: 3px;
}

label #btnOG {
  left: 40px;
  top: 17px;
  font-size: 30px;
  color: whitesmoke;
  padding: 6px 12px;
  transition: all 0.5s ease;
}

label #cancelOG {
  z-index: 1111;
  left: -95px;
  top: 20px;
  font-size: 25px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#checkOG:checked ~ .sidebarOG {
  left: 0;
}

#checkOG:checked ~ label #btnOG {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#checkOG:checked ~ label #cancelOG {
  left: 195px;
}

#checkOG:checked ~ section {
  margin-left: 250px;
}



section {
  background-position: center;
  background-size: cover;
  transition: all .5s ease;
}

.actualHeaderOG{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 27px 200px 35px 0;
  background: black;
}

.actualHeaderOG ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actualHeaderOG ul li{
  position: absolute;
  list-style: none;
  left: 0;
  margin-left: 1250px;
  margin-top: 20px;
}

.actualHeaderOG ul li a{
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 2px;
  font-weight: 500px;
  font-size: 22px;
  padding-left: 0;
}

.divTable {
  background: whitesmoke;
  margin: 120px auto 30px;
  padding: 25px 50px 10px 50px;
  border: 1px solid #80ced7;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "Lora&display=swap", serif;
}

.heading{
  margin: 90px 30px -100px 30px;
  padding: 0; 
}

.h2heading{
  text-align: center;
  color: white;
}

.nodataheading{
  text-align: center;
  margin-left: -500px;
  margin-bottom: 50px;
  margin-top: 40px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: white;
}

table th{
  text-align: center;
}

table td{
  text-align: center;
}

.h2head{
  margin-left: -50px;
}



#checkOGa {
  display: none;
}

label #btnOGa,
label #cancelOGa {
  position: absolute;
  cursor: pointer;
  background: black;
  border-radius: 3px;
}

label #btnOGa {
  left: 49%;
  font-size: 30px;
  color: whitesmoke;
  padding: 6px 12px;
  transition: all 0.5s ease;
  background: none;
}

label #cancelOGa {
  left: 42%;
  font-size: 30px;
  color: whitesmoke;
  padding: 6px 12px;
  transition: all 0.5s ease;
  background: none;
}

.messages{
  margin-top: 55px;
  transition: all 0.5s ease;
}

.messageTable1 {
  background: whitesmoke;
  margin: 30px auto 30px;
  padding: 25px 50px 10px 50px;
  border: 1px solid #80ced7;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "Lora&display=swap", serif;
}

.messages2{
  margin-left: -50000px;
  margin-top: -135px;
  transition: all 0.5s ease;

}

#checkOGa:checked ~ .messages {
  margin-left: -1000px;
  position: fixed;
}

#checkOGa:checked ~ .messages2{
  position: fixed;
  margin-left: 0;
  top: 48%;
  width: 1080px;
}

[data-href] {
  cursor: pointer; 
}

.card{
  display: inline-block;
  background: none;
  border: none;
  text-align: center;
  margin: 10px 5px;
}










